<link rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css"/>

	#header{
	color: red;
}

footer{
 	font-style: italic;
}

h1 {
	font-family: sans-serif;
}

a:hover{
	font-weight: bold;
}
 a:active{
 	text-decoration: none;
 }

 a:visited{
 	color: orange;
 }